$bpTablet: 1000px;
$bp-tablet-mobileApp: 1272px;
$bp-tablet-footer: 1172px;
$bp-tablet-about: 1172px;
$bp-tablet-hero: 769px;
$bp-tablet-header: 768px;

$bp-mobile: 740px;

$bp-tablet-menu: 768px;

$bp-tablet-modal: 830px;
$bp-mobile-modal: 720px;
